body{
    background: white url("https://raw.githubusercontent.com/buckyroberts/Viberr/master/music/static/music/images/background.png");
}

.img-resize{
    height:40vh;
    object-fit: cover;
    object-position: center center;
}
