body{
    background: white url("https://github.com/buckyroberts/Viberr/blob/master/music/static/music/images/background.png?raw=true");
}

.img-resize{
    height:40vh;
    object-fit: cover;
    object-position: center center;
}
