<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!--load the paths to your static files-->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
</head>
<body>


    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a href="{% url 'music:index' %}" class="navbar-brand"><i class="fas fa-home"></i> Viberr</a>


        <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynav">
            <div class="navbar-nav ml-5">
              <a href="#" class="nav-item nav-link active"><i class="fas fa-compact-disc"></i> Albums</a>
              <a href="#" class="nav-item nav-link"><i class="fas fa-music  "></i> Songs</a>

            </div>
            <form action="" class="form-inline">
              <input type="search" name="" id="" class="form-control mr-2" placeholder="Search">
              <button class="btn btn-secondary">search</button>

            </form>
            <div class="navbar-nav ml-auto">

            <a href="#" class="nav-item nav-link"><i class="fas fa-plus"></i> Add Album</a>
            <a href="#" class="nav-item nav-link"><i class="fas fa-power-off "></i> Logout</a>
            </div>




        </div>

      </nav>

    <div class="container-fluid">
            {% block body %}

            {% endblock %}
    </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>