{% extends 'music/base.html' %}

{% block body %}

<div class="row">
    <div class="card col-lg-3 col-md-4  border-0 m-3" style="background: rgb(237, 237, 237)" >
      <img src="{{ album.album_logo }}" class="card-img-top  img-resize" alt="Album logo" style="height: 35vh;">
      <div class="card-body bg-light p-5">
        <h2 class="card-title text-primary">{{ album.album_title }} <span class="h4 text-muted">{{ album.genre }}</span></h2>
        <h3 class="card-subtitle mb-2">{{ album.artist }}</h3>
      </div>
    </div>
    <div class="col mt-5">

           <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Song title</th>
                  <th scope="col">favorite</th>
                  <th scope="col">file type</th>
              </tr>
          </thead>
          <tbody>
          {% for song in album.song_set.all %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ song.song_title }}</td>
                  <td>
                      {% if song.is_favorite %}
                          <img src="http://i.imgur.com/b9b13Rd.png" alt="">
                      {% endif %}
                  </td>
                  <td>{{ song.file_type }}</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>




    </div>


</div>

{% endblock body %}